@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema de Ventas</h1>
    <p class="lead">Primer sistema de ventas de la Republica Dominicana.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Articulos</h2>
        <p>Modulo de manejo de inventario.</p>
        <p><a class="btn btn-primary" href="@Url.Action("Index", "Articulos")">Acceder &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Clientes</h2>
        <p>Gestion de clientes.</p>
        <p><a class="btn btn-success" href="@Url.Action("Index", "Clientes")">Acceder &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Facturas</h2>
        <p>Emision de facturas.</p>
        <p><a class="btn btn-warning" href="@Url.Action("Index", "Facturas")">Acceder &raquo;</a></p>
    </div>
</div>