@model VentasMvc.Models.FacturasCrearModel
    
@{
    ViewBag.Title = "Create";
}

<h2>Crear Factura</h2>
<hr />

@* Formulario HTML *@
@using (Html.BeginForm())
{
    <div>

        @Html.Partial("_FormularioCrearEditar", Model)

        <hr />

        <button type="submit" class="btn btn-primary">Crear</button>
        <a class="btn btn-default btn-sm" href="@Url.Action("Index")">Cancelar</a>

    </div>
}




