@model VentasMvc.Models.FacturasEditarModel

@{
    ViewBag.Title = "Editar";
}

<h2>Editar Factura</h2>
<hr />

@* Formulario HTML *@
@using (Html.BeginForm())
{
    <div>

        @Html.Partial("_FormularioCrearEditar", Model)

        <hr />

        <button type="submit" class="btn btn-primary">Editar</button>
        <a href="/Facturas/AgregarArticulo?idFactura=@Model.IdFactura" class="btn btn-default">Agregar Articulo</a>
        <a class="btn btn-default" href="@Url.Action("Index")">Cancelar</a>

    </div>
}




