@model VentasMvc.Models.FacturasEditarModel

@{
    ViewBag.Title = "Editar";
}

<h2>Editar Factura</h2>

@* Formulario HTML *@
@using (Html.BeginForm())
{
    <div>

        <div>
            @Html.LabelFor(m => m.ClienteId)
            @Html.DropDownListFor(m => m.ClienteId, Model.ListaClientes)
            @Html.ValidationMessageFor(m => m.ClienteId)
        </div>

        <button type="submit">Editar!</button>
        |
        <a href="/Facturas/AgregarArticulo?idFactura=@Model.IdFactura">Agregar Articulo</a>

    </div>
}




